/* Blockquotes
================================================== */
blockquote {
    border-left:5px solid #777;
    padding-left:13px;
    font-size:14px;
    margin-bottom:20px;
    font-style:italic;    
}

blockquote.right {
    border-right:5px solid #777;
    padding-right:13px;
    border-left:0;
    padding-left:0;
    text-align:right;
}

blockquote span {
    font-size:11px;
    display:block;
    margin-top:5px;
}

.resume blockquote {
    margin-bottom:30px;
}


/* Dividers
================================================== */
.divider {
    background:#ccc;
    height:1px;
    clear:both;
}


/* Area dividers
================================================== */
.left-divider {
    border-left:1px solid #ccc;
    -moz-box-shadow:inset 1px 0 0 0 #fff;
    -webkit-box-shadow:inset 1px 0 0 0 #fff;
    padding-left:20px;
}

.right-divider {
    border-right:1px solid #ccc;
    -moz-box-shadow:inset 1px 0 0 0 #fff;
    -webkit-box-shadow:inset 1px 0 0 0 #fff;
    padding-right:20px;
}

@media only screen and (max-width:767px) { 
    .left-divider, .right-divider {
        border-right:0;
        border-left:0;
        border-top:1px solid #ccc;
        -moz-box-shadow:inset 0 1px 0 0 #fff;
        -webkit-box-shadow:inset 0 1px 0 0 #fff;
        padding:20px 0 0 0;
    }
}


/* Buttons
================================================== */
button {
    position:relative;
    cursor:pointer;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    font-family:'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;    
    color:#8f5c2f;
    font-size:12px;
    font-weight:bold;
    line-height:1;
    padding:8px 16px;
    text-align:center;
    background:#ffbf44;
    background:-moz-linear-gradient(0% 100% 90deg, #ffbf44, #ffd972);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffd972), to(#ffbf44));
    border:1px solid #f7ac39;
    border-bottom:5px solid #f7ac39;
    -moz-box-shadow:inset 0 0 0 1px #fce69a, 0 1px 2px 0  rgba(0,0,0,0.2);
    -webkit-box-shadow:inset 0 0 0 1px #fce69a, 0 1px 2px 0  rgba(0,0,0,0.2);
    -webkit-background-clip:padding-box;
    height:37px;
    margin-bottom:5px;
}

button:hover {
    background:#ffd972;
    background:-moz-linear-gradient(0% 100% 90deg, #ffd972, #ffbf44);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffbf44), to(#ffd972));
}

button:active {
    border-bottom:1px solid #f7ac39;
    height:32px;
    margin-top:5px;
}

button::-moz-focus-inner {
    border:0;
    padding:0;
}


/* Social buttons
================================================== */

/* Twitter */
button.twitter {
    color:#fff;
    background:#44ccf6;
    background:-moz-linear-gradient(0% 100% 90deg, #44ccf6, #51d5f8);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#51d5f8), to(#44ccf6));
    border:1px solid #33bff4;
    border-bottom:5px solid #33bff4;
    -moz-box-shadow:inset 0 0 0 1px #68e6fb, 0 1px 2px 0  rgba(0,0,0,0.2);
    -webkit-box-shadow:inset 0 0 0 1px #68e6fb, 0 1px 2px 0  rgba(0,0,0,0.2);
    -webkit-background-clip:padding-box;
    height:37px;
    padding-left:40px;
    text-align:left;
    width:100%;
}

button.twitter:hover {
    background:#51d5f8;
    background:-moz-linear-gradient(0% 100% 90deg, #51d5f8, #44ccf6);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#44ccf6), to(#51d5f8));
}

button.twitter:active {
    border-bottom:1px solid #33bff4;
    height:32px;
    margin-top:5px;
}

button.twitter:before {
    content:"";
    width:32px;
    max-height:32px;
    height:100%;
    position:absolute;
    display:block;
    top:0px;
    left:0px;
    border-right:solid 1px rgba(255,255,255,0.2);
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    background:url('../img/twitter.png') no-repeat center;
}

/* Facebook */
button.facebook {
    color:#fff;
    background:#3b5998;
    background:-moz-linear-gradient(0% 100% 90deg, #3b5998, #4669ab);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4669ab), to(#3b5998));
    border:1px solid #2c437e;
    border-bottom:5px solid #2c437e;
    -moz-box-shadow:inset 0 0 0 1px #5584b3, 0 1px 2px 0  rgba(0,0,0,0.2);
    -webkit-box-shadow:inset 0 0 0 1px #5584b3, 0 1px 2px 0  rgba(0,0,0,0.2);
    -webkit-background-clip:padding-box;
    height:37px;
    padding-left:40px;
    text-align:left;
    width:100%;
}

button.facebook:hover {
    background:#4669ab;
    background:-moz-linear-gradient(0% 100% 90deg, #4669ab, #3b5998);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#3b5998), to(#4669ab));
}

button.facebook:active {
    border-bottom:1px solid #2c437e;
    height:32px;
    margin-top:5px;
}

button.facebook:before {
    content:"";
    width:32px;
    max-height:32px;
    height:100%;
    position:absolute;
    display:block;
    top:0px;
    left:0px;
    border-right:solid 1px rgba(255,255,255,0.2);
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    background:url('../img/facebook.png') no-repeat center;
}

/* LinkedIn */
button.linkedin {
    color:#fff;
    background:#0d8ebc;
    background:-moz-linear-gradient(0% 100% 90deg, #0d8ebc, #0fa3c8);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#0fa3c8), to(#0d8ebc));
    border:1px solid #0a72ab;
    border-bottom:5px solid #0a72ab;
    -moz-box-shadow:inset 0 0 0 1px #18bdcd, 0 1px 2px 0  rgba(0,0,0,0.2);
    -webkit-box-shadow:inset 0 0 0 1px #18bdcd, 0 1px 2px 0  rgba(0,0,0,0.2);
    -webkit-background-clip:padding-box;
    height:37px;
    padding-left:40px;
    text-align:left;
    width:100%;
}

button.linkedin:hover {
    background:#0fa3c8;
    background:-moz-linear-gradient(0% 100% 90deg, #0fa3c8, #0d8ebc);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#0d8ebc), to(#0fa3c8));
}

button.linkedin:active {
    border-bottom:1px solid #0a72ab;
    height:32px;
    margin-top:5px;
}

button.linkedin:before {
    content:"";
    width:32px;
    max-height:32px;
    height:100%;
    position:absolute;
    display:block;
    top:0px;
    left:0px;
    border-right:solid 1px rgba(255,255,255,0.2);
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    background:url('../img/linkedin.png') no-repeat center;
}

/* Mail */
button.mail {
    color:#fff;
    background:#ff4800;
    background:-moz-linear-gradient(0% 100% 90deg, #ff4800, #ff6500);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff6500), to(#ff4800));
    border:1px solid #ff3600;
    border-bottom:5px solid #ff3600;
    -moz-box-shadow:inset 0 0 0 1px #ff8100, 0 1px 2px 0  rgba(0,0,0,0.2);
    -webkit-box-shadow:inset 0 0 0 1px #ff8100, 0 1px 2px 0  rgba(0,0,0,0.2);
    -webkit-background-clip:padding-box;
    height:37px;
    padding-left:40px;
    text-align:left;
    width:100%;
}

button.mail:hover {
    background:#ff6500;
    background:-moz-linear-gradient(0% 100% 90deg, #ff6500, #ff4800);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff4800), to(#ff6500));
}

button.mail:active {
    border-bottom:1px solid #ff3600;
    height:32px;
    margin-top:5px;
}

button.mail:before {
    content:"";
    width:32px;
    max-height:32px;
    height:100%;
    position:absolute;
    display:block;
    top:0px;
    left:0px;
    border-right:solid 1px rgba(255,255,255,0.2);
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
/*    background:url('../img/mail.png') no-repeat center;*/
}

/* Big */
button.big {
    font-size:14px;
    padding:20px;
    width:100%;
    height:70px;
}

button.big:active {
    height:65px;
}